.content__left  
  .content__left__top
    .content__left__top__text
      .content__left__top__text__left
        = current_user.name
      .content__left__top__text__right 
        %ul
          %li1.list
            = link_to new_group_path do
              = fa_icon 'pencil-square-o', class: 'icon'
          %li2.list
            = link_to edit_user_path(current_user) do
              = fa_icon 'cog', class: 'icon'


  .content__left__bottom
    - current_user.groups.each do |group|
      .content__left__bottom__group
        = link_to group_messages_path(group) do
          .content__left__bottom__group__name
            = group.name
          .content__left__bottom__group__message
            = group.show_last_message